.homeWrapper {
  margin-top: 10vh;
  background: var(--color-gray-900);
  border-radius: 0.25rem;
  padding: 1.5rem;
  width: 80%;
  margin: 0 auto;
}

.home {
  font-size: 2.4rem;
  color: var(--color-main);
}

.homeSmall {
  font-size: 1.5rem;
  color: var(--color-gray-200);
}

@media screen and (max-width: 600px) {
  .homeWrapper {
    width: 95%;
  }

  .home {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .homeSmall {
    font-size: 1.2rem;
  }
}

.header {
  color: var(--color-main);
  font-size: 2rem;
}

.top_restaurants_container {
  padding: 3rem 0px;
}

@media screen and (max-width: 600px) {
  .top_restaurants_container {
    padding: 1.5rem 0px;
  }

  .header {
    font-size: 1.3rem;
  }
}
