.login{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login form input{
    width: 40vw;
    height: 30px;
    margin: 10px;
}

.login form button{
    width: 40vw;
    height: 30px;
    margin: 10px;
    background-color: var(--color-primary-700);
    color: var(--color-gray-100);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login form button.loading {
    cursor: not-allowed;
    background-color: var(--color-gray-500);
    color: var(--color-gray-300);
}

.login form span{
    width: 40vw;
    height: 30px;
    margin-top: 10px;
    color: rgb(250, 108, 108);
    font-size: 13px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .login form input{
      width: 80vw;
    }
    .login form button{
        width: 80vw;
    }
}

