/* Header */
.review {
  width: 80%;
  margin: 0 auto;
  background: var(--primary-white);
  margin-top: 9rem;
  margin-bottom: 3rem;
  padding-bottom: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.restaurantProfile {
  width: 100%;
}

.restaurantNameAndLastRated {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem;
}

.restaurantNameAndLastRated h2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  color: var(--color-main);
}

.res_image {
  width: 100%;
  height: 20rem;
}

.res_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurantNameAndLastRated p span {
  margin-left: 1rem;
}

.hygiene_cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem 1rem;
}

.location {
  display: flex;
  align-items: center;
  margin: 1rem 0px;
  margin-top: -1.5rem;
  padding: 0px 1rem;
}
.location h2 {
  margin-left: 1rem;
  font-size: 1rem;
}

.hygiene_card {
  width: 32%;
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.3rem;
  padding: 1rem;
  background-color: var(--primary-white);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.hygiene_card h1 {
  text-transform: uppercase;
}

.hygiene_card svg {
  color: var(--color-main);
  font-size: 1.5rem;
}

.starWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.starWrapper svg {
  font-size: 1.1rem;
}

.threads {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--color-main);
  font-size: 2rem;
}

.drop_review_button {
  width: 80%;
  margin: 0 auto;
}

.closeButton button {
  background-color: red;
}

.closeButton button:hover {
  border-color: red;
  color: red;
  background-color: transparent;
}

/* 
.review .profile {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px;
}

.review .profile .left-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review .profile .left-info .name-info .name {
  font-weight: bolder;
  text-decoration: none;
  color: var(--color-main);
}

.review .profile .left-info .name-info .time {
  color: var(--color-gray-200);
  font-size: 13px;
  display: flex;
}
.review .profile .left-info .name-info .time span {
  padding: 0px 10px;
}

.global-icon {
  width: 12px;
  height: 12px;
  background-position: -28px -499px;
  background-image: url("https://weichiachang.github.io/easter-eggs-mobile/images/3o8Zo7X.png");
  background-size: 73px 540px;
  background-repeat: no-repeat;
  display: inline-block;
}

.review .profile .right-info {
  background-image: url("https://weichiachang.github.io/easter-eggs-mobile/images/dNpCLDT.png");
  background-repeat: no-repeat;
  background-size: 500px 287px;
  background-position: -242px -245px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.loginBtn {
  margin: 20px;
}

.loginBtn button {
  width: 35%;
  color: var(--color-main);
  padding: 1rem;
  background: none;
  border: 1px solid var(--color-main);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.loginBtn button:hover {
  background: var(--color-main);
  color: #fff;
}

.loginBtn2 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 0px;
}

.loginBtn2 button {
  width: 20%;
  color: var(--color-main);
  align-self: flex-end;
  padding: 1rem;
  background: none;
  border: 1px solid var(--color-main);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.loginBtn2 button:hover {
  background: var(--color-main);
  color: #fff;
}


.review .content {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 20px;
  margin: 2rem 0px;
  text-transform: uppercase;
  color: var(--color-main);
}

.review .review-wrapper {
  display: flex;
  flex-direction: column;
  background: var(--color-main);
  width: 100%;
}

.review .review-wrapper .review-info {
  padding: 1rem;
}

.review .review-wrapper .review-info .review-name {
  color: var(--color-gray-800);
  display: flex;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
}


.review .feedback-info {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-gray-200);
  margin: 10px 12px 0 12px;
  padding: 0 0 10px 0;
  color: var(--color-primary-700);
}

.review .feedback-info .threads-and-share {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .review {
    width: 95%;
  }

  .loginBtn button {
    width: 90%;
  }

  .loginBtn2 {
    padding-right: 1rem;
    width: 100%;
  }

  .loginBtn2 button {
    width: 50%;
  }
} */
