.reviewWrapper {
  margin-top: 10vh;
  background: var(--color-gray-900);
  border-radius: 0.25rem;
  padding: 1.5rem;
  width: 80%;
  margin: 0 auto;
}

.review {
  font-size: 2.4rem;
  color: var(--color-main);
}

.reviewSmall {
  font-size: 1.5rem;
  color: var(--color-gray-200);
}
