.review-thread {
  width: 60%;
  margin: 0 auto;
  background-color: var(--primary-white);
  margin-bottom: 0.3rem;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent; /* Removes margin collapse */
}

@media screen and (max-width: 600px) {
  .review-thread {
    width: 100%;
  }
}

.wrapper {
  margin: 2rem 0px;
}
