.star {
  width: 32px;
  height: 32px;
  transition: 0.6s all;
}

.star-small {
  width: 16px;
  height: 16px;
  transition: 0.6s all;
}
.rating {
  cursor: pointer;
  display: inline-block;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.review-form input {
  width: 100%;
  height: 30px;
  margin-bottom: 1rem;
  background: none;
  border: 1px solid var(--color-gray-500);
  padding: 1.3rem;
  color: var(--blue-1);
  border-radius: 0.2rem;
}

.review-form textarea {
  width: 100%;
  color: var(--blue-1);
  height: 120px;
  margin-bottom: 1rem;
  background: none;
  border: 1px solid var(--color-gray-500);
  padding: 1.3rem;
  border-radius: 0.2rem;
}

.review-form .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

blockquote {
  border-left: 5px solid rgb(238, 238, 238);
  padding-left: 20px;
}

blockquote .footer {
  display: block;
  font-size: 80%;
}

.stars-container {
  margin-bottom: 5px;
}

.error {
  color: maroon;
}

.reviewBtn {
  width: 35%;
  align-self: flex-end;
  padding: 1rem;
  border: 1px solid var(--color-main);
  border-radius: 0.2rem;
  color: var(--color-main);
  font-size: 0.9rem;
  font-weight: 600;
  background: none;
  cursor: pointer;
  transition: 0.3s ease;
  text-transform: uppercase;
  margin: 1.3rem 0px 3rem 0px;
}

.reviewBtn:hover {
  background: var(--color-main);
  border: 1px solid var(--color-gray-900);
  color: #fff;
}

@media screen and (max-width: 600px) {
  .review-form {
    width: 95%;
  }

  .reviewBtn {
    width: 60%;
  }

  .help-block {
    font-size: 0.7rem;
  }
}
