.header {
  /* max-width: 60rem; */
  width: 100%;
  background: #1b1e1f;
  margin: auto;
  padding: 1rem 0px;
}

.header_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.header h2 a {
  display: flex;
  gap: 1rem;
  font-size: var(--header-fs);
  text-decoration: none;
  color: var(--color-main);
}

.list {
  display: flex;
  gap: 2rem;
}

.list a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--color-gray-400);
  transition: 0.3s ease;
}
.list a:hover,
.list a.active {
  text-decoration: none;
  color: var(--color-main);
}

@media only screen and (max-width: 600px) {
  .list {
    display: none;
  }

  .header_middle {
    width: 95%;
  }

  .header h2 a {
    font-size: 1.5rem;
  }
}
