.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  margin-top: 1rem;
}

.header {
  width: 80%;
  background: var(--primary-white);
  margin: 0 auto;
  padding: 1rem 0px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 0.15rem;
}

.header_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.menuIconContainer {
  display: none;
}

.header h2 a {
  display: flex;
  gap: 1rem;
  font-size: var(--header-fs);
  text-decoration: none;
  color: var(--color-main);
}

.list {
  display: flex;
  gap: 2rem;
}

.list a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--blue-2);
  transition: 0.3s ease;
}
.list a:hover,
.list a.active {
  text-decoration: none;
  color: var(--color-main);
  font-weight: bold;
}

.closeIconContainer {
  display: none;
}

@media only screen and (max-width: 600px) {
  .closeIconContainer {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 1rem;
  }

  .closeIconContainer svg {
    color: red;
  }

  .list {
    position: fixed;
    flex-direction: column;
    width: 60%;
    background: var(--primary-white);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 100%;
    align-items: center;
    padding-top: 20vh;
    top: 0;
    right: -80vw;
    transition: 0.3s ease;
    z-index: 100000;
  }

  .wrapper {
    margin-top: 0.3rem;
  }

  .navOpen {
    right: 0;
  }

  .menuIconContainer {
    display: flex;
  }

  .header {
    padding: 0px 1rem;
    width: 98%;
  }

  .header_middle {
    width: 95%;
    /* background: blue; */
  }

  .header h2 a {
    font-size: 1rem;
  }
}
