.header {
  /* max-width: 60rem; */
  width: 100%;
  background: #1b1e1f;
  margin: auto;
  padding: 1rem 0px;
}

.header_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.menuIconContainer {
  display: none;
}

.header h2 a {
  display: flex;
  gap: 1rem;
  font-size: var(--header-fs);
  text-decoration: none;
  color: var(--color-main);
}

.list {
  display: flex;
  gap: 2rem;
}

.list a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--color-gray-400);
  transition: 0.3s ease;
}
.list a:hover,
.list a.active {
  text-decoration: none;
  color: var(--color-main);
}

.closeIconContainer {
  display: none;
}

@media only screen and (max-width: 600px) {
  .closeIconContainer {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 1rem;
  }

  .list {
    position: fixed;
    flex-direction: column;
    width: 60%;
    background: #1b1e1f;
    height: 100%;
    align-items: center;
    padding-top: 20vh;
    top: 0;
    right: -80vw;
    transition: 0.3s ease;
    z-index: 100000;
  }

  .navOpen {
    right: 0;
  }

  .menuIconContainer {
    display: flex;
  }

  .header_middle {
    width: 95%;
    /* background: blue; */
  }

  .header h2 a {
    font-size: 1.5rem;
  }
}
