
.panel {
  position: relative;
  border-radius: 20px;
  background: var(--color-gray-900);
  height: 48px;
  margin: 10px;
  box-shadow: -5px -5px 15px rgba(150, 223, 247, 0.6),
    5px 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: flex 0.5s linear;
  overflow: hidden;
}


.setting-title {
  display: flex;
  margin: 12px 20px;
}

.setting-title p {
  margin: 0 10px;
}

