.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid var(--color-primary-200);
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--color-primary-900);
}

.searchTerm:focus{
  color: var(--color-primary-400);
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-primary-200);
  background: var(--color-primary-900);
  text-align: center;
  color: var(--color-gray-200);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.debug{
  border: 2px solid red;
}

@media only screen and (max-width: 600px) {
  .wrap{
    width: 80%;
  }
}