@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656368;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #ddf1f9;
  --color-primary-200: #cef0ff;
  --color-primary-300: #b1e8ff;
  --color-primary-400: #95ddf9;
  --color-primary-500: #7dd7fa;
  --color-primary-600: #5cd1ff;
  --color-primary-700: #41c7fc;
  --color-primary-800: #28c2ff;
  --color-primary-900: #0cb6f9;

  --color-main: #e60023;
  --primary-white: #fff;
  --blue-1: #131230;
  --blue-2: #0d0d27;

  --header-fs: 32px;
  --sub-header-fs: 24px;
  --body-fs: 16px;
  --caption-fs: 12px;
}

html {
  min-height: 100vh;
}

body {
  color: #000;
  margin: 0;
  background-color: #fafafa;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  /* margin: 2rem auto; */
  text-align: center;
}

h1 {
  font-size: var(--heading-fs);
}
h2 {
  font-size: var(--sub-heading-fs);
}
h3 {
  font-size: var(--sub-heading-fs);
}
a {
  font-size: var(--caption-fs);
}
span {
  font-size: var(--caption-fs);
}
div {
  font-size: var(--sub-body-fs);
}
p {
  font-size: var(--body-fs);
}
